# Servidor Web y API
fastapi==0.136.1
uvicorn==0.46.0
pydantic==2.13.3
email-validator==2.3.0
python-multipart==0.0.27

# Base de Datos y ODM
motor==3.7.1
pymongo==4.17.0

# Seguridad y Autenticación
python-jose==3.5.0
passlib==1.7.4
bcrypt==4.0.1
python-dotenv==1.2.2

# Google Drive API (OAuth2 Refresh Token Flow)
google-api-python-client==2.195.0
google-auth==2.50.0

# IA y Búsqueda Semántica (Hugging Face API)
huggingface_hub==1.13.0

# Procesamiento de PDF
PyMuPDF==1.27.2.3

# Utilidades
requests==2.33.1
httpx==0.28.1
numpy