@import "tailwindcss";

@theme {
  /* Definimos los colores de la UGMA aquí para la v4 */
  --color-dark-bg: #02161e;
  --color-dark-card: #0b232a;
  --color-dark-border: #1e3a3f;
  --color-primary: #00ed64;
  --color-primary-hover: #00c855;
  --color-text-main: #e8edeb;
  --color-text-muted: #94a3b8;
}

/* Aplicamos el fondo y texto globalmente */
@layer base {
  body {
    @apply bg-dark-bg text-text-main;
    margin: 0;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
}

/* Tu scrollbar personalizado que ya tenías */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-dark-bg);
}
::-webkit-scrollbar-thumb {
  background: var(--color-dark-border);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}